.title-container {
  padding: 4rem 0 0;
}

.title-background {
  background-image: url(/images/wave.webp);
  background-repeat: no-repeat;
  background-position: bottom;
  /* position: absolute; */
  height: 40rem;
  width: 100%;
  top: 0;
}

.title-name {
  font-weight: 800;
  font-size: 3.0625rem;
  margin-bottom: 0.75rem;
}

.title-desc {
  font-weight: 400;
  font-size: 1.525rem;
  margin-bottom: 0.75rem;
}

.title-button {
  color: var(--main-txt-color);
  margin-top: 1rem;
  padding: 0.425rem 3rem;
  box-shadow: 0 0 2px 2px #efefefef;
}

.title-button:hover {
  color: var(--main-txt-color);
  box-shadow: 0 0 4px 4px white;
}

.title-img {
  border-radius: 50%;
}

.title-right {
  text-align: center;
}

.title-left {
  padding-left: 4rem;
}

@media (max-width: 992px) {
  .title-left {
    text-align: center;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  .title-background {
    height: 50rem;
  }
}

@media (max-width: 622px) {
  .title-background {
    height: 55rem;
  }
}

@media (max-width: 332px) {
  .title-background {
    height: 60rem;
  }
}

@media (max-width: 308px) {
  .title-background {
    height: 65rem;
  }
}
