.course-container {
  text-align: center;
}

.course-name {
  font-weight: 800;
  margin-bottom: 0;
}

.subject-name {
  font-weight: 700;
}

.year-and-college {
  font-weight: 300;
}

@media (max-width: 768px) {
  .course-name {
    margin-top: 2rem;
  }
}
