.course-container {
  text-align: center;
}

.course-name {
  margin-bottom: 0;
  font-weight: 300;
}

.subject {
  font-size: 1.25rem;
}

.top-wrapper {
  height: 5.5rem;
}

@media (max-width: 768px) {
  .course-name {
    margin-top: 2rem;
  }
  .top-wrapper {
    height: fit-content;
  }
}
