.heading {
  font-weight: 800;
  margin-bottom: 2rem;
}

.subheading {
  font-weight: 800;
  margin: 2.5rem 0;
  padding-left: 2rem;
}

.skills-container {
  padding: 4rem 0;
}

.additional-skills {
  padding-left: 3rem;
  font-weight: 300;
}

@media (max-width: 768px) {
  .subheading {
    padding-left: 1rem;
  }

  .additional-skills {
    padding-left: 1.5rem;
  }
}
