.experience-item-container {
  margin-top: 2.5rem;
  /* padding-left: 4rem; */
}

.experience-role {
  margin-bottom: 0;
}

.experience-duration {
  font-style: italic;
  padding-top: 0;
}

@media (max-width: 768px) {
  .experience-item-container {
    padding-left: 2rem;
  }
}
