html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif; */
  font-weight: 600;
}

h3,
h4 {
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
}

.clickable:hover {
  cursor: pointer;
}

#tooltip-right {
  margin-left: 0.25rem;
}

:root {
  /* teal: #2CD3C6 */
  --main-bg-color: #000000bb;
  --main-txt-color: white;
  --accent-bg-color: #710045;
  --accent-txt-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

.container-fluid {
  padding: 0rem 1.5rem;
  max-width: 64rem;
}

.container-padding {
  padding: 4rem 0;
}

/* Classes for global theme */
.bg-theme {
  background-color: var(--main-bg-color);
}

.text-theme {
  color: var(--main-txt-color);
}

.bg-accent {
  background-color: var(--accent-bg-color);
}

.text-accent {
  color: var(--accent-txt-color);
}

.sr-only {
  visibility: hidden;
}

/* No carousels before 576px */
@media (max-width: 694px) {
  .carousel {
    display: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  /* display: none; */
  bottom: 35%;
  color: var(--main-txt-color);
}

.carousel-caption {
  top: 1.25rem;
  color: var(--main-txt-color);
}

.carousel-indicators {
  display: none;
}
