html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: black;
  --main-txt-color: white;
  --accent-bg-color: white;
  --accent-txt-color: black;
}

a {
  color: var(--main-txt-color);
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--accent-txt-color);
}

.container-fluid {
  padding: 0rem 1.5rem;
  max-width: 64rem;
}

/* Classes for global theme */
.bg-theme {
  background-color: var(--main-bg-color);
}

.text-theme {
  color: var(--main-txt-color);
}

.bg-accent {
  background-color: var(--accent-bg-color);
}

.text-accent {
  color: var(--accent-txt-color);
}
